@import	'meyers-reset.css';
@import 'reset.css';


/*CSS Variables Set Up*/
:root {
    --light:  #fff;
    --dark: #2D3142;
    --dark-pen:  #2d3142;
    --accent: #EF8354;
    --light-pen:  #4f5d75;
    --gray: #bfc0c0;

    --border:  2px solid black;
    --padding-sm: 20px 15px;
    --padding-med:  25px 15px;
    --padding-med-top: 25px 0;
    --padding-lg-top: 50px 0;
    --padding-lg:  50px 15px;


}


/*Typography Set up*/

:root {
    --font:  "Helvetica";
}

.main-heading-fs {
    font-size:  clamp(36px, 5vw, 54px);
    font-weight: 900;
}

.title-fs {
    font-size: 30px;
}

.desc-fs {
    font-size: 24px;
}

.text-fs {
    font-size: 16px;
}

.link-fs {
    font-size: 14px;
}


body {
    background-color: var(--light);
    font-family: var(--font);
}


.padding-sm {
    padding:  25px 15px;
}

.padding-large {
    padding:  50px 15px;
}

inner-column {
    display:  block;
    width:  100%;
    margin: auto;
}

/*header css*/
header {
    padding: 10px;
    /*border:  var(--border);*/
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

p {
    line-height: 1.4;
}

masthead {
    display: flex;
    justify-content: space-between;

}


nav.site-menu-bar {
    display: flex;
    align-items: center;
    gap:  10px;
}


/*landing section css*/
.landing-container {
    padding:  var(--padding-med);
}

.landing-container picture img{
    border: var(--border);
}


/*.landing-container{
    padding:  25px 10px;
}*/

.landing-container .landing-text {
    display: flex;
    flex-direction: column;
    gap:  10px;
    padding-top:  25px;
    padding-bottom: 25px;


}

.landing-cta {
    display:  flex;
    gap:  10px;
}

.landing-cta button {
    /*border:  none;*/

}



.landing-cta button a {
    text-decoration: none;
}


/*cta css*/

/*.cta * {
    border:  var(--border);
}
*/

.call-to-action {
    padding: var(--padding-med-top);
}


.cta {
    display: flex;
    flex-direction: column;
    gap:  10px;

    padding:  var(--padding-lg);
    background-color: var(--accent);


}


.cta button {
    /*display:  inline-block;*/
    width:  min(70%, 250px);
}



button {
    display:  flex;
    border:  var(--border);
    margin-top:  10px;
    
}

button a {
    padding:  16px 32px;
    text-transform: uppercase;
    text-decoration: underline;

}

/*article grid css*/

.article-grid {
    padding: var(--padding-lg);
}

.ag-container {
    display:  flex;
    flex-direction: column;
    gap:  20px;

}

.ag-card-grid {
    display: flex;
    flex-direction: column;
    gap:  10px;
}

.ag-container .ag-heading, .ag-container .card-container .grid-card  {
    display:  flex;
    flex-direction: column;
    align-items: flex-start;
    gap:  10px;

    border:  var(--border);
    padding:  var(--padding-med);
}
/*.ag-container .card-container .grid-card {
    display:  flex;
    flex-direction: column;
    align-items: flex-start;
   
}*/
/*.card-container {
    padding:  25px 10px;
    border:  var(--border);

}
*/


/*footer css*/
.footer-container * {
    /*border:  1px solid red;*/
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-grid, .footer-grid > * {
    display:  flex;
    flex-direction: column;
}

.footer-grid {
/*    display:  grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap:  25px 10px;*/

    display:  flex;
    flex-direction: column;
    gap:  15px;
}

.footer-grid section {
    display:  flex;
    gap:  10px;
    padding:  10px;
}

/*media queries*/

/*tablets*/

@media (min-width: 700px) {


    .landing-container {
        display:  flex;
        flex-direction: row-reverse;
        gap:  15px;
        flex-basis: 100%;

    }

    .landing-container :is(picture, .landing-text) {
        width:  50%;
    }

    .landing-container {
        flex : 1;
    }

    .landing-container picture {
        align-self: center;
    }


    .landing-text p {
        width:  clamp(36ch, 40vw, 50ch);
    }

    .article-grid {
        padding:  50px 10px;
    }

    .article-grid .ag-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        grid-gap: 20px 10px;       
    }


}


@media (min-width: 1000px) {

    inner-column:not( .site-header inner-column, .landing inner-column) {
        width: min(70%, 1000px);
    }
    .landing-text {
        align-self: center;
    }
}










