@import 'meyers-reset.css';
@import 'reset.css';


/*CSS Variables Set Up*/
:root {
    --light: #fff;
    --dark: #e1e1e1;
    --marker: #333;
    --pen: #333;


    --border: 2px solid black;
    --padding-sm: 20px 15px;
    --padding-sm-top: 20px 0;
    --padding-med: 25px 15px;
    --padding-med-top: 25px 0;
    --padding-lg-top: 50px 0;
    --padding-lg: 50px 15px;
    --padding-xl: 80px 0;


}


/*Typography Set up*/

:root {
    --font: "Helvetica";
}

.main-heading-fs {
    font-size: clamp(36px, 5vw, 54px);
    font-weight: 900;
}

.title-fs {
    font-size: 30px;
}

.desc-fs {
    font-size: clamp(22px, 1vw, 24px);
}

.text-fs {
    font-size: clamp(16px, 1.6vw, 18px);
}

.link-fs {
    font-size: 15px;
    font-weight: 600;
}

button,
a {
    /*border-radius: 4px;*/
}


body {
    background-color: var(--light);
    font-family: var(--font);
}


inner-column {
    display: block;
    width: 90%;
    margin: auto;
}

/*header css*/
header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid var(--pen);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .55);
    backdrop-filter: blur(5px);
    z-index: 9999;

}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
}

p {
    line-height: 1.4;
}

masthead {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 10px 20px;
    font-weight: 600;


}

.top-stuff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.bottom-stuff {
    align-self: flex-end;

    padding: 16px 32px;
    background-color: var(--marker);
    color: var(--light);
}


nav.site-menu-bar {
    display: flex;
    align-items: center;
    gap: 10px;


}

.site-menu-bar .nav-links {
    display: flex;
    gap: 10px;

}






/*landing section css*/

.landing {
    background-color: var(--dark);
    padding: 25px 0;
}

.landing h1,
.site-logo {
    color: var(--marker);

}

.landing-container {
    padding: var(--padding-med-top);
}

picture {
    display: flex;
    justify-content: center;
}

picture img {
    border: var(--border);
}


.landing-container .landing-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--pen);

}

.landing-text p {
    max-width: 40ch;
}

.landing-cta {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.landing-cta button {
    /*background-image: linear-gradient(to right, #7dc587, #79c076, #76bb65, #76b552);    */
    /*background-image: linear-gradient(45deg, #7DC587, #76AF3D);*/
    background-color: var(--marker);
    color: var(--light);
    font-weight: 600;
}

.landing-cta button:last-child {
    background-color: var(--bg-dark);
    border: 2px solid var(--marker);
    color: var(--marker);
}

.landing-cta button a {
    text-decoration: none;
}




/*cta css*/

.cta-grid {
    padding: var(--padding-xl);
}

.cta-container {
    display:  flex;
    flex-direction: column;
    gap:  40px;
}

.cta-container .cta-Card {
    display:  flex;
    flex-direction: column;
    gap:  10px;
}

.cta-2 {
    padding: var(--padding-xl);

}


.cta {
    display: flex;
    flex-direction: column;
    gap: 50px;

}



.cta-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cta button {
    width: min(70%, 250px);
}


button {
    display: flex;
    border: var(--border);
    margin-top: 10px;

}

button a {
    padding: 12px 24px;
    text-transform: uppercase;

}

/*article grid css*/

.article-grid {
    padding: var(--padding-lg-top);
}

.ag-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.ag-card-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ag-container .ag-heading,
.ag-container .card-container .grid-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: var(--border);
    padding: var(--padding-lg);
}

.ag-container .ag-heading {
    text-align: center;
}


.grid-card button {
    border: none;
    background-color: inherit;


}

.grid-card button a {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1px;
    text-decoration: underline;
    font-weight: 600;
}


/*footer css*/

.footer {
    padding: var(--padding-xl);
    background-color: var(--dark);
    border-top: 2px solid var(--pen)
}


.footer-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-grid,
.footer-grid>* {
    display: flex;
    flex-direction: column;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: var(--padding-lg-top);
}

.footer-grid .footer-links {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer-grid .footer-links section {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;

}

.footer-grid a.link-fs {
    font-weight: normal;
}

.footer-grid a.desc-fs {
    font-weight: 600;
}



/*media queries*/


@media (max-width: 300px) {
    .landing-cta {
        flex-wrap: wrap;
    }
}

@media (min-width: 500px) {

    .footer-grid {
        flex-direction: column;
    }

    .footer-grid .footer-links {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    }

    .footer-grid .footer-links section:nth-child(even) {
        align-items: flex-end;
    }

}

/*tablets*/

@media (min-width: 700px) {

    inner-column {
        width: min(90%, 1100px);
        margin: auto;
    }

    button a {
        padding: 16px 32px;

    }

    masthead {
        flex-direction: row;
    }

    masthead .top-stuff {
        flex-grow: 2;
    }


    .landing {
        padding: 40px 0;
    }

    .landing inner-column,
    header inner-column {
        width: min(90%, 1200px);
    }

    .landing-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        flex-basis: 100%;
    }


    .landing-container :is(picture, .landing-text) {
        width: 50%;
    }

    .landing-container picture {
        align-self: center;
    }


    .call-to-action inner-column {
        max-width: 900px;
    }

    .cta-container  {
        display:  flex;
        flex-direction: column;

    }

    .cta-container .cta-Card {
        display:  flex;
        flex-direction: row;
        gap:  20px;
    }

     .cta-container .cta-Card:nth-child(even) {
        flex-direction: row-reverse;
     }    

    .cta-2 {
        padding: var(--padding-xl);

    }

    .call-to-action+.cta-2 {
        padding: 0;
    }



    .cta .cta-text,
    .cta .cta-image {
        width: 50%;
    }

    .cta-text {
        align-self: center;
    }

    .cta-2 .cta {
        flex-direction: row-reverse;

    }


    .article-grid {
        padding: var(--padding-lg-top);
    }


    ,card-container .grid-card {
        text-align: center;
    }

    .footer-grid {
        display: flex;

    }

    .footer-grid .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }

}


@media (min-width: 1000px) {

    .landing-text {
        align-self: center;
    }

    .article-grid .ag-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
        grid-gap: 20px 15px;
    }


}